// кнопка "бюргер" несеммитричная, цвет элементов белый, фон черный

.burger-button {
  position: absolute;
  right: 15px;
  top: 33px;
  width: 26px;
  height: 15px;
  &__line {
    @include burger-type-light;
    top: 20px;
    &.js-active:before {
      top: 0px;
      width: 26px;
      left: 0px;
      transform: rotate(45deg);
      transition: top 100ms, transform 100ms 100ms;
    }
    &.js-active:after {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 100ms, transform 100ms 100ms;
    }
    &.js-active {
      background: rgba(255, 255, 255, 0);
    }
  }
  &__line:before {
    @include burger-type-light;
    content: "";
    left: 10px;
    width: 15px;
    top: -8px;
  }
  &__line:after {
    @include burger-type-light;
    content: "";
    bottom: -8px;
  }
}
//  общий стиль кнопок в HEADER
.btn {
  border: none;
  background-color: $accentColor;
  color: $textLightColor;
  cursor: pointer;
}
//  кнопка "Buy Now" в HEADER
.btn-buy {
  padding: 8px 27.5px;
  border-radius: 19px;
  font-size: 15px;
}
// кнопка "Download" в HEADER
.btn-download {
  @extend .btn;
  position: relative;
  top: 453px;
  width: 290px;
  padding: 13px 0px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
}
.purchase-btn {
  font-size: 15px;
  width: 163px;
  border: none;
  border-radius: 30px;
  margin: auto;
  text-transform: uppercase;
  background-color: rgba($color: #FFFFFF, $alpha: 0.15);
  padding: 15.5px 0;
  font-family:$mainFont;
  margin-bottom: 36px;
}

.selected-btn {
  font-size: 16px;
  width: 190px;
  padding: 18.5px 0;
}

