
.header {
  text-align: center;
  padding-bottom: 416px;
  margin-bottom: 117px;
  font-family: $mainFont;
  background: url(../img/header_bg.png);
  background-position: center;
  background-size: cover;

  &__title {
    margin-bottom: 19px;
    font-size: 48px;
    font-weight: bold;
    color: $textLightColor;
  }
  &__sub-title {
    padding: 0 31px;
    font-size: 18px;
    line-height: 24px;
    color: $accentColor;
    margin-bottom: 14px;
  }
  &__text {
    font-size: 14px;
    text-transform: uppercase;
    color: #848e97;
  }
  &__trial-period {
    position: relative;
    top: 463px;
    font-size: 14px;
    color: #848e97;
  }
}
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 16px;
  margin-bottom: 50px;
  background-color: #27262a;
  &__link {
    margin-right: calc(50% - 110px);
    &:active .nav__logo {
      display: none;
    }
    &:active .nav__logo--hover {
      display: block;
      margin-bottom: 2.5px;
    }
  }
  &__logo--hover {
    display: none;
  }
  &__logo-text {
    display: none;
  }
}
.burger-button {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}

.menu {
  position: absolute;
  top: 106px;
  left: 4%;
  width: 100%;
  height: auto;
  text-align: start;
  padding-bottom: 14px;
  font-size: 26px;
  color: $textLightColor;
  background: $backgroundGrayColor;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0ms;

  &.js-animate {
    width: 92%;
    transform: scaleY(1);
    transition: 150ms;
  }
  &__item {
    margin-top: 19px;
    padding-top: 16px;
    margin-bottom: 16px;
    padding-bottom: 11px;
    padding-left: 35px;

    &:active {
      padding-left: 27px;
      border-left: solid 8px $accentColor;
      color: $accentColor;
    }
  }
}
.btn:active {
  background-color: $textLightColor;
  color: $accentColor;
  transition: 200ms;
}

.wrapper-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media (min-width: $tabletWidth) {
  .header {
    padding-bottom: 475px;
    margin-bottom: 135px;
    &__title {
      font-size: 72px;
    }
    &__sub-title {
      margin-bottom: 19px;
      font-family: $textFont;
      font-size: 24px;
      text-transform: lowercase;
    }
    &__sub-title:first-letter {
      text-transform: uppercase;
    }
    &__trial-period {
      top: 528px;
    }
  }
  .nav {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 69px;
    padding-top: 22px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-start;
    &__logo {
      margin-right: 17px;
    }
    &__link {
      display: flex;
      align-items: center;
      margin-right: 0;
      &:active .nav__logo--hover {
        display: block;
        margin-bottom: 0px;
        margin-right: 17px;
      }
      &:active .nav__logo-text {
        color: $textLightColor;
      }
    }
    &__logo-text {
      display: block;
      font-size: 24px;
      color: $accentColor;
      text-transform: uppercase;
    }
  }
  .burger-button {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    position: static;
    padding: 0px 10%;
    font-size: 14px;
    background-color: inherit;
    color: $accentColor;
    transform: scaleY(1);
    &__item {
      margin-top: 0px;
      padding-top: 0px;
      margin-bottom: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      &:active {
        color: $textLightColor;
        padding-left: 0px;
        border-left: none;
        transition: 200ms;
      }
    }
  }
  .btn-download {
    top: 512px;
  }
  .btn-buy {
    margin-top: 2.5px;
    margin-bottom: 23px;
  }
}

@media (min-width: 768px) {
  .menu {
    font-size: 16px;
    padding: 0px 16%;
  }
}

@media (min-width: $desktopWidth) {
  .header {
    padding-bottom: 462px;
    margin-bottom: 129px;
    &__title {
      font-size: 82px;
    }
    &__sub-title {
      font-size: 30px;
    }
    &__text {
      font-size: 16px;
    }
    &__trial-period {
      top: 515px;
    }
    .btn-buy {
      order: 1;
      margin-bottom: 0px;
    }
    button:hover {
      background-color: $textLightColor;
      color: $accentColor;
      transition: 200ms;
    }
  }

  .nav {
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 82px;
    padding: 30px 90px;
    background-color: rgba(39, 38, 42, 0);
    &__link {
      margin-right: calc(50% - 360px);
      &:hover .nav__logo {
        display: none;
      }
      &:hover .nav__logo--hover {
        display: block;
        margin-bottom: 0px;
        margin-right: 17px;
      }
      &:hover .nav__logo-text {
        color: $textLightColor;
      }
    }
    .menu {
      padding-left: 0px;
      padding-right: 48px;
      &__item:hover {
        color: $textLightColor;
        transition: 200ms;
      }
    }
  }
  .btn-download {
    top: 499px;
  }
}

@media (min-width: 1200px) {
  .nav {
    &__link {
      margin-right: calc(50% - 260px);
    }
  }
}
