.people-talk {
  padding: 57px 0px 22px;
  text-align: center;
  background: url(../img/people_talk_bg.png);
  background-position: bottom;
  background-size: cover;
  font-family: $textFont;
  color: $textLightColor;
  &__title {
    margin-bottom: 53px;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    font-family: $mainFont;
  }
  &__item-logo {
    display: block;
    margin-bottom: 22px;
  }
  &__item {
    margin-bottom: 45px;
    padding: 0px 18px;
    font-style: italic;
    font-weight: bold;
    line-height: 24px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__description {
    padding: 37px 27px 10px;
    font-size: 14px;
    line-height: 21px;
    color: $textMiddleColor;
     &:after {
      display: block;
      content: "";
      position: relative;
      top: 22px;
      left: 1%;
      width: 98%;
      height: 2px;
      background-color: #645766;
    }
  }
}

@media (min-width: $tabletWidth) {
  .people-talk {
    padding: 86px 0px 20px;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
    }
    &__title {
      font-size: 42px;
    }
    &__item {
      margin-bottom: 60px;
      width: 45%;
    }
    &__description {
      padding-top: 7px;
      padding-bottom: 0px;
      &:after {
        width: 78%;
        left: 11%;
        top: 16px;
      }
    }
  }
}

@media (min-width: $desktopWidth) {
  .people-talk {
    padding: 108px 0px 19px;
    &__title {
      margin-bottom: 82px;
      font-size: 48px;
    }
    &__item {
      margin-bottom: 113px;
      width: 31%;
    }
    &__description {
      padding: 6px 160px 0px;
      &:after {
        width: 78%;
        left: 11%;
        top: 16px;
      }
    }
  }
}
