@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:wght@400;500;600;700&display=swap");
@import "vars";
@import "mixins";
@import "elements";
@import "header";
@import "_rev-editor";
@import "_section-people-talk";
@import "_fork-pricing";


body {
    min-width: 320px;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
  font-family: $mainFont;
  max-width: 1200px;
  margin: auto;
}

